.selectionPanel {
    margin-top: 72px;
    display: inline-block;
}

.playerInfoBox {
    display: inline-block;
    width: 80px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.playerImg {
    width: 50px;
}
